<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="C64Emulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <C64Emulator.Properties.Settings>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolutionWidth" serializeAs="String">
                <value>806</value>
            </setting>
            <setting name="ResolutionHeight" serializeAs="String">
                <value>568</value>
            </setting>
            <setting name="Joystick1Map" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Joystick2Map" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeySet1Up" serializeAs="String">
                <value>UpArrow</value>
            </setting>
            <setting name="KeySet1Right" serializeAs="String">
                <value>RightArrow</value>
            </setting>
            <setting name="KeySet1Down" serializeAs="String">
                <value>DownArrow</value>
            </setting>
            <setting name="KeySet1Left" serializeAs="String">
                <value>LeftArrow</value>
            </setting>
            <setting name="KeySet1Fire" serializeAs="String">
                <value>LeftControl</value>
            </setting>
            <setting name="KeySet2Up" serializeAs="String">
                <value>Keypad8</value>
            </setting>
            <setting name="KeySet2Right" serializeAs="String">
                <value>Keypad6</value>
            </setting>
            <setting name="KeySet2Down" serializeAs="String">
                <value>Keypad5</value>
            </setting>
            <setting name="KeySet2Left" serializeAs="String">
                <value>Keypad4</value>
            </setting>
            <setting name="KeySet2Fire" serializeAs="String">
                <value>LeftAlt</value>
            </setting>
            <setting name="LastHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowSpeed" serializeAs="String">
                <value>False</value>
            </setting>
        </C64Emulator.Properties.Settings>
    </userSettings>
</configuration>